{% extends 'layout.twig' %}

{% block content %}
    <div class="px-6 py-8 text-gray-800">
        <div class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap g-6">
            <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
                <form>
                </form>
                <form method="post">
                    <!-- Email input -->
                    {% include('elements/input.twig') with {
                        'name': 'email',
                        'type': 'text',
                        'placeholder': 'Email address',
                        'value': old.email,
                        'error': errors.email | first,
                        'svg': 'logo-48'
                    } %}

                    <!-- Username input -->
                    {% include('elements/input.twig') with {
                        'name': 'name',
                        'type': 'text',
                        'placeholder': 'Username',
                        'value': old.name,
                        'error': errors.name | first,
                        'svg': 'logo-48'
                    } %}

                    <!-- Password input -->
                    {% include('elements/input.twig') with {
                        'name': 'password',
                        'type': 'password',
                        'placeholder': 'Password',
                        'error': errors.password | first,
                        'svg': 'logo-48'
                    } %}

                    <!-- Password confirm -->
                    {% include('elements/input.twig') with {
                        'name': 'passwordConfirm',
                        'type': 'password',
                        'placeholder': 'Confirm password',
                        'error': errors.passwordConfirm | first,
                        'svg': 'logo-48'
                    } %}

                    <div class="flex justify-between items-center mb-6">
                        <div class="form-group form-check">
                            <input
                                    type="checkbox"
                                    class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                    id="checkbox"
                                    name="checkbox"
                            />
                            <label class="form-check-label inline-block text-gray-800" for="checkbox">
                                This is checkbox - and you can tick it!
                            </label>
                        </div>
                    </div>

                    <div class="text-center lg:text-left">
                        <button
                                type="submit"
                                class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
                        >
                            Register
                        </button>
                        <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                            Already have an account?
                            <a href="/auth/login"
                               class="text-red-600 hover:text-red-700 focus:text-red-700 transition duration-200 ease-in-out"
                            >
                                Login
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
