{% extends 'layout.twig' %}

{% block content %}
    <h1>Hello World !</h1>
    <p>{{ greetingText | striptags }}</p>
    <pre>
        <code class="language-php">
            echo 'Hello World !';
        </code>
    </pre>
    <pre>
        <code class="language-go">
            func main() {
                fmt.Println("Hello World !")
            }
        </code>
    </pre>
{% endblock %}