<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/main.css">
    {#    <script src="https://cdn.tailwindcss.com"></script> #}
    {% block head %}
    {% endblock %}

    <script type="application/javascript">
        function switchTheme(mode) {
            localStorage.theme = mode
            if (mode === 'dark') {
                document.documentElement.classList.add('dark')
            } else {
                document.documentElement.classList.remove('dark')
            }
        }

        function showDialog() {
            document.querySelector('dialog').showModal()
        }

        function hideDialog() {
            document.querySelector('dialog').close()
        }
    </script>
</head>
<body>

<header class="bg-blue-500 p-6 flex justify-between">
    <div class="md:hidden">
        {% include('elements/button.twig') with {
            'label': 'Show',
            'class': 'md:hidden bg-blue-500 hover:bg-blue-700 active:bg-blue-900',
            'onclick': 'toggle()'
        } %}
    </div>

    <div>
        <object type="image/svg+xml" data="/static/media/icons8-bash-48.svg" class="logo">
            Kiwi Logo <!-- fallback image in CSS -->
        </object>
    </div>

    <div class="hidden md:flex">
        {% include('elements/button.twig') with {
            'label': 'Switch theme',
            'class': 'bg-blue-500 hover:bg-blue-700 active:bg-blue-900',
            'onclick': "switchTheme(localStorage.theme === 'dark' ? 'light' : 'dark')"
        } %}
        {% include('elements/button.twig') with {
            'label': 'Account',
            'class': 'hidden md:block bg-blue-500 hover:bg-blue-700 active:bg-blue-900',
            'onclick': 'toggle()'
        } %}
        {% include('elements/button.twig') with {
            'label': 'Log Out',
            'class': 'hidden md:block bg-blue-500 hover:bg-blue-700 active:bg-blue-900',
            'onclick': 'toggle()'
        } %}
    </div>
</header>

<section class="bg-gray-200 flex min-h-screen">
    <div class="blocker hidden absolute inset-0 bg-gray-800/80 z-30"></div>
    <nav class="bg-red-200 hidden md:block w-2/6 md:w-1/6 min-w-fit px-4 py-6 z-50 absolute inset-0 md:relative">
        <ul class="h-full">
            <li><a href="#">PHP</a></li>
            <li><a href="#">DDEV</a></li>
            <li><a href="#">Magento 2</a></li>
            <li class=""><a href="#">Projects</a></li>
        </ul>
        <div class="absolute bottom-4">
            <a href="#">About Me</a>
        </div>
    </nav>

    <script>
        const sidebar = document.querySelector('nav');
        const blocker = document.querySelector('.blocker');
        blocker.onclick = hide;

        function show() { // swipe right
            sidebar.classList.remove('hidden');
            blocker.classList.remove('hidden');
            document.body.style.overflow = 'hidden';
        }

        function hide() { // by blocker click, swipe left, or url change
            sidebar.classList.add('hidden');
            blocker.classList.add('hidden');
            document.body.style.overflow = '';
        }

        function toggle() {
            sidebar.classList.contains('hidden') ? show() : hide();
        }
    </script>

    <article class="p-6 w-full md:w-4/6">
        {% block content %}
        {% endblock %}
    </article>

    <aside class="bg-amber-200 w-1/6 hidden md:block">
        <div class="py-6 px-4">
            <h4>Epcot Center</h4>
            <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international
                pavilions,
                award-winning fireworks and seasonal special events.</p>
        </div>
    </aside>
</section>

<footer class="bg-blue-200 p-6 flex justify-center">
    {% block footer %}
    {% endblock %}
    <p>© {{ 'now' | date('Y') }} Ilja Polanskis - Backend Web Developer</p>
</footer>

</body>
</html>