{# Expects field array [
        'feed_posts' => PostInterface[],
    ]
#}

<aside class="bg-black/10 lg:fixed lg:bottom-0 lg:right-0 lg:top-16 lg:w-96 lg:overflow-y-auto lg:border-l lg:border-white/5">
    <header class="flex items-center justify-between border-b border-white/5 px-4 py-4 sm:px-6 sm:py-6 lg:px-8">
        <h2 class="text-base font-semibold leading-7 text-white">Activity feed</h2>
        <a href="/post" class="text-sm font-semibold leading-6 text-indigo-400">View all</a>
    </header>
    <ul role="list" class="divide-y divide-white/5">
        {% for post in context.feedPosts %}
            {% include 'elements/aside/item.twig' with {
                'post': post
            } %}
        {% endfor %}
    </ul>
</aside>
