<div x-data="curl">
    <ul class="flex flex-col gap-4 p-4">
        <template :key="feed.id" x-for="feed in feeds.reverse()">
            <li class="border-gray-300 bg-blue-500 w-full p-4 rounded-xl text-center"
                x-data="{ show: false }" x-init="$nextTick(()=>show=true)" x-show="show"
                x-transition:enter="transition ease-out duration-500"
                x-transition:enter-end="transform translate-y-0"
                x-transition:enter-start="transform -translate-y-full"
                x-transition:leave="transition ease-out duration-500"
                x-transition:leave-end="transform translate-y-0"
                x-transition:leave-start="transform -translate-y-full"
            >
                <span class="text-white" x-text="feed.value"></span>
            </li>
        </template>
    </ul>
</div>
