<!doctype html>
<html class="h-full bg-gray-900" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {#    <script src="https://cdn.tailwindcss.com"></script> #}
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block scripts %}
    {% endblock %}
</head>

<body class="h-full" x-data="mobile">

{% block sidebar %}
    {% include 'layout/blocks/sidebar_desktop.twig' %}
    {% include 'layout/blocks/sidebar_mobile.twig' %}
{% endblock %}


<div class="xl:pl-72">
    {% block header %}
        {% include 'layout/blocks/header.twig' %}
    {% endblock %}

    <main class="lg:pr-96 text-white">
        {% block content %}
        {% endblock %}
    </main>

    {# TODO: Implement add/remove aside #}
    {# {% if false %} #}
    {% block aside %}
        {% include 'layout/blocks/aside.twig' %}
    {% endblock %}
    {# {% endif %} #}
</div>

<footer>
    {% block footer %}
        {% include 'layout/blocks/footer.twig' %}
    {% endblock %}
    {{ encore_entry_script_tags('alpine') }}
</footer>


</body>
</html>
